@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* Fonts */
@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/SofiaProLight.woff2") format("woff2"), url("/fonts/SofiaProLight.woff") format("woff"), url("/fonts/SofiaProLight.ttf") format("truetype");
}
@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SofiaProExtraLight.woff2") format("woff2"), url("/fonts/SofiaProExtraLight.woff") format("woff"), url("/fonts/SofiaProExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SofiaProRegular.woff2") format("woff2"), url("/fonts/SofiaProRegular.woff") format("woff"), url("/fonts/SofiaProRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/circular-std-6.woff2") format("woff2"), url("/fonts/circular-std-6.woff") format("woff"), url("/fonts/circular-std-medium-500.ttf") format("truetype");
}
html {
  font-family: "Montserrat", "Circular Std", "Sofia Pro", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #000000;
}

.wrapper {
  background-color: #ffffff;
  padding: 50px 50px;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    padding: 30px 30px;
  }
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media screen and (max-width: 990px) {
  .container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 730px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}
.nav__item {
  margin-left: 25px;
}

.logo {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 18px;
  color: #000000;
}
.logo::after {
  content: "™";
  position: relative;
  bottom: 13px;
  font-size: 12px;
  line-height: 15px;
  font-size: 12px;
  line-height: 15px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 103px;
  background-image: url(/img/94.png);
  background-repeat: no-repeat;
  background-position: right 6% top 8%;
  background-size: 30%;
}
.main__page-content {
  width: 518px;
}
.main__page-description {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  opacity: 0.4;
}
.main__page-title {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 62px;
  line-height: 90px;
  letter-spacing: -0.02em;
}
.main__page-title::after {
  content: "®";
  position: relative;
  bottom: 30px;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
}
@media screen and (max-width: 1000px) {
  .main__page-title::after {
    bottom: 9px;
    font-size: 13px;
  }
}
.main__page-buttons {
  margin-top: 49px;
  z-index: 1;
  position: relative;
}
.main__page-button {
  cursor: pointer;
  padding: 27px 30px;
  border: 1px solid #808080;
  background-color: #ffffff;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #030304;
  z-index: 1;
}
.main__page-button:hover {
  background-color: #505054;
  color: #ffffff;
}
.main__page-button-img {
  vertical-align: middle;
  margin-right: 12px;
}
.main__page-button:first-of-type {
  margin-right: 24px;
}

@media screen and (max-width: 1200px) {
  .main {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .main__page-content {
    max-width: 396px;
  }
}
@media screen and (max-width: 990px) {
  .main__page-content {
    max-width: 250px;
  }
}
@media screen and (max-width: 1200px) {
  .main__page-title {
    font-size: 42px;
    line-height: 60px;
  }
}
@media screen and (max-width: 990px) {
  .main__page-title {
    font-size: 25px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1260px) {
  .main__page {
    margin-left: -12em;
  }
}
@media screen and (max-width: 1100px) {
  .main__page {
    margin-left: 1em;
  }
}
@media screen and (max-width: 1000px) {
  .main__page-description {
    font-size: 16px;
    line-height: 21px;
  }
}
@media screen and (max-width: 990px) {
  .main__page-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 10px;
  }
}
@media screen and (max-width: 990px) {
  .main__page-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 13px;
  }
}
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__item {
  margin-bottom: 60px;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
  color: #3a3a3a;
}
.sidebar__item:hover {
  color: #ecca7b;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.sidebar__extra {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 6px 23%;
  grid-template-columns: 25% 23%;
  -ms-grid-rows: 60%;
  grid-template-rows: 60%;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}
.sidebar__extra > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.sidebar__extra > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.sidebar__extra-link {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 100.3%;
  letter-spacing: -0.01em;
  color: #000000;
}
.sidebar__extra-link:last-of-type {
  margin-top: 38px;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: end;
}
.sidebar__extra-link:last-of-type:hover {
  background-color: #ffffff;
  color: #ecca7b;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.sidebar__extra-link:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #000000;
  color: #ffffff;
}
.sidebar__button {
  text-align: start;
  margin-top: 90px;
  background: none;
  border: none;
  font-size: 12px;
  line-height: 19px;
}

@media screen and (max-width: 1100px) {
  .sidebar__item {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .sidebar__extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 70px;
  }
}
@media screen and (max-width: 1100px) {
  .sidebar__extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 70px;
  }
}
@media screen and (max-width: 1100px) {
  .sidebar__extra-link {
    font-size: 28px;
    line-height: 80%;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .sidebar__extra-link:last-of-type {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}
@media screen and (max-width: 1280px) {
  .sidebar__button {
    font-size: 10px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 990px) {
  .sidebar {
    display: block;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 50vmin;
  right: -3%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.menu__items:first-of-type {
  margin-right: 10em;
}
@media screen and (max-width: 1250px) {
  .menu .menu__items:first-of-type {
    margin-right: 3em;
  }
}
@media screen and (max-width: 1100px) {
  .menu .menu__items:first-of-type {
    margin-right: 15px;
  }
}
.menu__link {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-right: 32px;
}
.menu__link:hover {
  color: #ecca7b;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

@media screen and (max-width: 1750px) {
  .menu {
    top: 50vh;
    right: -7%;
  }
}
@media screen and (max-width: 1650px) {
  .menu {
    right: -10vw;
  }
}
@media screen and (max-width: 1550px) {
  .menu {
    right: -12rem;
  }
}
@media screen and (max-width: 1300px) {
  .menu {
    right: -14rem;
  }
}
@media screen and (max-width: 1250px) {
  .menu {
    right: -11rem;
  }
}
@media screen and (max-width: 990px) {
  .menu {
    position: absolute;
    top: 55%;
    right: -2em;
  }
}
@media screen and (max-width: 850px) {
  .menu {
    position: relative;
    bottom: 5em;
    left: 7rem;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.main__page-swiper {
  position: absolute;
  top: 15em;
  right: 16%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  width: 47em;
  height: 40em;
  z-index: 0;
}
.main__page-swiper::-webkit-scrollbar {
  display: none;
}
.main__page-swiper #main__page-swiper-item {
  padding: 1em;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1420px) {
  .main__page-swiper {
    top: 20em;
    right: 10%;
    width: 38em;
    height: 33em;
  }
}
@media screen and (max-width: 1250px) {
  .main__page-swiper {
    top: 15em;
    right: 4%;
    width: 35em;
    height: 27em;
  }
}
@media screen and (max-width: 1100px) {
  .main__page-swiper {
    top: 5em;
    right: 7%;
    width: 25em;
    height: 27em;
  }
}
@media screen and (max-width: 990px) {
  .main__page-swiper {
    position: relative;
    top: -5em;
    height: 18em;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 10%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
}

.modal-content {
  width: 60%;
  background-color: transparent;
}

iframe {
  width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 950px) {
  iframe {
    max-width: 100%;
    height: 74vh;
  }
}
.close {
  position: relative;
  left: auto;
  font-size: 70px;
  cursor: pointer;
}
.close:hover {
  color: #ecca7b;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}