$black: #000000;
$side: #3a3a3a;
$buttons: #030304;

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/* Fonts */
@font-face {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/SofiaProLight.woff2") format("woff2"), url("/fonts/SofiaProLight.woff") format("woff"),
        url("/fonts/SofiaProLight.ttf") format("truetype");
}
@font-face {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/SofiaProExtraLight.woff2") format("woff2"), url("/fonts/SofiaProExtraLight.woff") format("woff"),
        url("/fonts/SofiaProExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/SofiaProRegular.woff2") format("woff2"), url("/fonts/SofiaProRegular.woff") format("woff"),
        url("/fonts/SofiaProRegular.ttf") format("truetype");
}
@font-face {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/circular-std-6.woff2") format("woff2"), url("/fonts/circular-std-6.woff") format("woff"),
        url("/fonts/circular-std-medium-500.ttf") format("truetype");
}
html {
    font-family: "Montserrat", "Circular Std", "Sofia Pro", sans-serif;
    box-sizing: border-box;
}
body {
    color: $black;
}

.wrapper {
    background-color: #ffffff;
    padding: 50px 50px;
}
.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__items {
    }

    &__item {
        margin-left: 25px;
    }
}
.logo {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 18px;
    color: $black;
    &::after {
        content: "™";
        font-size: 12px;
        line-height: 15px;
        margin: 7px;
    }
}
.main {
    display: flex;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 103px;
    background-image: url(/img/94.png);
    background-repeat: no-repeat;
    background-position: right top;

    &__page {
    }
    &__page-content {
        width: 518px;
    }

    &__page-description {
        font-family: "Sofia Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        opacity: 0.4;
    }

    &__page-title {
        font-family: "Sofia Pro";
        font-style: normal;
        font-weight: 300;
        font-size: 62px;
        line-height: 90px;
        letter-spacing: -0.02em;
    }

    &__page-buttons {
        margin-top: 49px;
    }

    &__page-button {
        padding: 27px 30px;
        border: 1px solid #808080;
        background-color: #ffffff;
        border-radius: 8px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: $buttons;
        text-align: center;
        &-img {
            margin-right: 12px;
        }
    }
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__items {
        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-bottom: 60px;
        font-family: "Sofia Pro";
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 33px;
        color: $side;
    }

    &__extra {
        display: grid;
        grid-template-columns: 33% 28%;
        grid-template-rows: 60%;
    }

    &__extra-link {
        font-family: "Sofia Pro";
        font-style: normal;
        font-weight: 300;
        font-size: 44px;
        line-height: 100.3%;
        letter-spacing: -0.01em;
        color: $black;
        &:last-of-type {
            margin-top: 38px;
            font-weight: 400;
            font-size: 15px;
            line-height: 23px;
            grid-column: 2;
            text-align: end;
        }
        &:hover {
            transition: ease-in-out 0.5s;
            background-color: $black;
            color: #ffffff;
        }
    }

    &__button {
        cursor: pointer;
        text-align: start;
        margin-top: 122px;
        background: none;
        border: none;
        font-size: 12px;
        line-height: 19px;
    }
}
.presenter {
}
.slide {
}
.first {
}
.in-up {
}
.out-up {
}
.out-left {
}
.in-left {
}

.menu {
    display: flex;
    position: fixed;
    right: -5%;
    top: 50%;
    transform: rotate(270deg);

    &__items {
        display: flex;
        list-style: none;
        &:first-of-type {
            margin-right: 10em;
        }
    }

    &__link {
        font-family: "Circular Std";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $black;
        margin-right: 32px;
    }
}

#pinContainer{
    overflow-x: auto;
    height: 200px;
    width: 500px;
    margin: 50px auto;
    scroll-snap-type: y mandatory;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    height: 250px;
    padding: 20px;
    font-size: 20px;
    scroll-snap-align: start;
    overflow: hidden auto;
}
.blue {
}
.turqoise {
}
.green {
}
.bordeaux {
}
